# These owners will be the default owners for everything in

# the repo unless another match further down takes precedence.

- @marcelsunche @JConstine @HarveyOdan @jonescobedo @sdabade-sorenson @Lmcc12
